{#{ get.level }#}

{% set list = items__readItems( db, get.level, null ) %}
{#{ pa(items) }#}

<div class="container-fluid">
    <div class="grid">
        {# list #}
        {# если редактирование, то показываем форму редактирования #}
        
            {% if get.edit_id is defined and list.data[get.edit_id] is defined %}

                {% include dir_mod_now_mod_ditpl~'body.form_add.htm' %}

            {% else %}

                {% include dir_mod_now_mod_ditpl~'body.form_add.htm' %}
                
                {% if get.showonly is not defined %}
                {% include dir_mod_now_mod_ditpl~'body.list_items.htm' %}
                {% endif %}

            {% endif %}
        
    </div>
</div>